# =================
# Python
# =================

__pycache__/
*.pyc

venv/
.env


# =================
# FastAPI
# =================

*.log

*.db
*.sqlite


# =================
# Node / React
# =================

node_modules/

dist/

build/


# =================
# IDE
# =================

.vscode/


# =================
# OS
# =================

.DS_Store

Thumbs.db